In [8]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass # To get the password without showing the input

In [9]:
# pip install pymysql

In [10]:
password = getpass.getpass()

········

In [11]:
#print(password)

In [12]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [14]:
#2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

query = '''select *,
case when dayname(rental_date) in ('Saturday', 'Sunday') then 'weekend'
else 'workday'
end as day_type
from rental;'''

data = pd.read_sql_query(query , engine)
data.head()
#60 shows 1 to 60; more than that only first bit and last bit

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,workday